/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10.75% auto; /* % from the top and centered */
    padding: 20px 20px 0 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    max-width: 720px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 8px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#align-left{
    font-size: 14px;
    font-weight: 300px;
    display: block; 
    text-align: left; 
    padding: 1rem 3rem;
    color: white;
}

.title{
    font-size: 22px;
}
.content{
    font-size: 16px;
}

.group{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.sub-parent{
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly; 
    margin: 2rem 0;
}
.child{
    text-align: center;
}

.child a{
    color: inherit;
}

.image{
    height: 7rem;
    width: 7rem;
}

@media only screen and (max-width: 1250px) {
    .modal-content{
        width: 65%;
    }
    .hide-mobile{
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .modal-content{
        width: 90%;
        margin: 10% auto;
    }
    .subparent{
        display: flex;
        flex-direction: column; 
        margin: 0.5rem 0;
    }
    .child{
        margin: 0.5rem 0;
    }
}